<div class="row col-md-10 mb-5 pb-5 roles-grid">
  <div class="col-12 text-left px-4 mt-5 pt-4">
    <h2 class="explore-messaging-title">Imagine your future!</h2>
    <p class="mt-4 mb-0 p-0">Do you want to learn more about your current role or learn something new from other roles?</p>
    <p class="p-0">Explore!</p>
  </div>
  <div class="col-md-3 my-4 px-4" *ngFor="let role of roles">
    <div class="card roles col-sm-12">
      <img class="card-img-top" [src]="getImageUrl(role.roleName)" alt="Card image cap">
    </div>
  </div>
</div>