/* Angular Material */
.example-fill-remaining-space {
    flex: 1 1 auto;
}

mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
}

mat-toolbar button {
    font-weight: normal;
    margin: 5px;
}

mat-toolbar button.mat-active {
    font-weight: bold;
}

.nav-profile-img {
    margin: 0 5px;
}

mat-sidenav-container {
    height: 100%;
    width: 100%;
    background: transparent;
    position: fixed;
}

mat-sidenav button {
    display: block;
    width: 100%;
    text-align: left;
    font-weight: normal;
    z-index: 1;
}

.mat-drawer-opened {
    z-index: 2;
}

mat-sidenav button.mat-active {
    font-weight: bold;
}

.sidenav-menu-btn {
    display: none;
    background: #f5f5f5;
    color: #000;
}

.sidenav-menu-btn:hover {
    background: #d7d7d7;
}

@media only screen and (max-width: 700px) {
    mat-toolbar .nav-item {
        display: none;
    }

    .sidenav-menu-btn {
        display: inline-block;
    }
}