.navbar {
    box-shadow: 0 4px 15px -3px gray;
    padding: 0 50px;
    height: 60px;
}

.navbar-collapse {
    height: 100%;
    margin-left: 20px;
}

.navbar-collapse > ul {
    height: 100%;
}

a.nav-link{
    height: 100%;
    padding: 15px 0;
    margin: 0 5px;
}

.active {
    border-bottom: 4px solid #03a9f4;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

.burger {
    position: absolute;
    left: 0;
}

.nav-item .dropdown-item:hover {
    cursor: pointer;
    color: #fff;
    background-color: #03a9f4;
}

/* Side Nav */
.side-nav-content {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 60px;
}

.side-nav-content a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #4e4e4e;
    display: block;
    transition: 0.3s;
}

.side-nav-content a:hover {
    color: #a5a4a4;
}

.side-nav-content .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
}