<nav *ngIf="showNav" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <button class="btn btn-light burger ml-1 d-xl-none d-lg-none" (click)="burgerClick()">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
  <a class="navbar-brand" [routerLink]="['']">
    <img src="/assets/Logos/kplogo.png" width="auto" height="33" alt="">
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['skill-catalog']">Skill Catalog</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['explore']">Explore</a>
      </li>
    </ul>
    <!-- <i class="fa fa-bell mx-2" aria-hidden="true"></i> -->
    <a class="mx-2" [routerLink]="['profile']">
      <img *ngIf="profileImgUrl;else showAvatar" [src]="profileImgUrl" (error)="setDefaultPic()" class="rounded-circle img img-fluid"
        height="40" width="40" alt="profile picture">
      <ng-template #showAvatar>
        <avatar [letter]="user.username.charAt(0).toUpperCase()" [displayType]="'circle'" size="40"></avatar>
      </ng-template>
    </a>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle m-0" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
<nav class="nav side-nav-content flex-column d-xl-none d-lg-none mt-5 w-50 text-left" [ngClass]="{'d-none':!triggerNav}">
  <a href="javascript:void(0)" class="closebtn" (click)="burgerClick()">&times;</a>
  <a [routerLink]="['profile']" (click)="burgerClick()">Profile</a>
  <a [routerLink]="['home']" (click)="burgerClick()">Home</a>
  <a [routerLink]="['skill-catalog']" (click)="burgerClick()">Skill Catalog</a>
  <a [routerLink]="['explore']" (click)="burgerClick()">Explore</a>
  <a (click)="logout()" (click)="burgerClick()">Logout</a>
</nav>