.skill-catalog {
    background-image: url('../../../assets/Images/catalog-bg.png');
    height: 90%;
    position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.skill {
    padding: 0;
    box-shadow: 3px 5px 20px #bcc0c2;
    height: 100%;
    z-index: 10;
}

.skill:hover {
    cursor: pointer;
    background-color: #eeeeee;
}

div.input-group.search-skill > div {
    background-color: #ffffff;
    font-size: 20px;
    color: #939393;
}

#searchString {
    font-size: 20px;
    height: 60px;
    border-left: none;
}

.skill .card-text {
    font-size: 14px;
}

.skills-grid {
    text-align: center;
    margin: auto;
}

#skillModal .card {
    padding: 0;
}

#skillModal > div > div > div > img {
    max-height: 120px;
    object-fit: cover;
}

#skillModal > div > div {
    max-width: 80%;
    margin: auto;
    margin-top: 20%;
}

#skillModal > div > div > div > div {
    border: 0;
}

#skillModal > div > div > div > div.card.col-sm-6.level {
    padding: 20px;
}

.card-title {
    font-size: 18px;
}

.card-text {
    font-size: 14px;
}

.close {
    position: absolute;
    z-index: 1;
    right: 0;
}

.close:hover {
    cursor: pointer;
}

:host /deep/ div.noUi-value {
    display: none;
}
:host /deep/ .noUi-pips {
    height: 20px;
}

:host /deep/ .noUi-marker {
    height: 8px;
    width: 1px;
}

:host /deep/ .noUi-target {
    background-color: #d8dee1;
}

:host /deep/ avatar > div.avatar {
    width: 100%!important;
}