.skill-catalog {
    background-image: url('../../../assets/Images/catalog-bg.png');
    height: 90%;
    position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.skill {
    padding: 0;
    box-shadow: 3px 5px 20px #bcc0c2;
    height: 100%;
    z-index: 10;
}

.skill:hover {
    cursor: pointer;
    background-color: #eeeeee;
}

div.input-group.search-skill > div {
    background-color: #ffffff;
    font-size: 20px;
    color: #939393;
}

#searchString {
    font-size: 20px;
    height: 60px;
    border-left: none;
}

.skill-level {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    font-weight: bold;
    font-size: 13px;
}

.interested {
    color: #aa79cc;
}

.familiar {
    color: #03a9f4;
}

.used {
    color: #22c622;
}

.master {
    color: #ff9d33;
}

.guru {
    color: #fc4f4f;
}

.skill-level span {
    text-transform: uppercase;
}

.skill .card-text {
    font-size: 14px;
}

.skills-grid {
    text-align: center;
    margin: auto;
}

.new-skill {
    color: #fff;
    background-color: #ff9d33;
    font-size: 12px;
}

#skillModal .card {
    padding: 0;
}

#skillModal > div > div > div > img {
    max-height: 120px;
    object-fit: cover;
}

#skillModal > div > div {
    max-width: 80%;
    margin: auto;
    margin-top: 20%;
}

#skillModal > div > div > div > div {
    border: 0;
}

#skillModal > div > div > div > div.card.col-sm-6.level {
    padding: 20px;
}

.card-title {
    font-size: 18px;
}

.card-text {
    font-size: 14px;
}

.close {
    position: absolute;
    z-index: 1;
    right: 0;
}

.close:hover {
    cursor: pointer;
}

.page-item:hover {
    cursor: pointer;
}

.skill-menu a {
    cursor: pointer;    
}

.go-my-skill {
    cursor: pointer;
}

.empty-skill {
    color: #777777;
}

.search-messaging-title {
    color: #03a9f4;
}

:host /deep/ div.noUi-value {
    display: none;
}
:host /deep/ .noUi-pips {
    height: 20px;
}

:host /deep/ .noUi-marker {
    height: 8px;
    width: 1px;
}

:host /deep/ .noUi-target {
    background-color: #d8dee1;
}

:host /deep/ avatar > div.avatar {
    width: 100%!important;
}