.gradient-div {
    height: 475px;
    /* Learned it here https://www.viget.com/articles/angled-edges-with-css-masks-and-transforms*/
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);

    /* Used gradient generator https://www.cssmatic.com/gradient-generator */
    background: rgba(3,54,89,1);
    background: -moz-linear-gradient(left, rgba(3,54,89,1) 0%, rgba(23,114,113,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(3,54,89,1)), color-stop(100%, rgba(23,114,113,1)));
    background: -webkit-linear-gradient(left, rgba(3,54,89,1) 0%, rgba(23,114,113,1) 100%);
    background: -o-linear-gradient(left, rgba(3,54,89,1) 0%, rgba(23,114,113,1) 100%);
    background: -ms-linear-gradient(left, rgba(3,54,89,1) 0%, rgba(23,114,113,1) 100%);
    background: linear-gradient(to right, rgba(3,54,89,1) 0%, rgba(23,114,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#033659', endColorstr='#177271', GradientType=1 );
}

.white-div {
    height: 150px;
}

.blue-div {
    background: #03A9F4;
    height: 725px;
    -webkit-clip-path: polygon(0 45%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 45%, 100% 0, 100% 100%, 0 100%);
}

.background {
    width: 100%;    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}
.content-index {
    position: relative;
    z-index: 100;
}

.learning-path {
    background: #333333;
    height: 700px;
}

.master-it {
    background-image: url('../../../assets/Images/developers-workstation-blurred.png');
    height: 750px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
}

:host /deep/ .completer-input {
    width: 100%;
    height: 100%;
    padding: 8px 15px;
    border: 1px solid #e9ecef;
}

:host /deep/ .completer-holder {
    width: 100%;
    height: 100%;
}

:host /deep/ .completer-dropdown-holder div {
    width: 100%;
}
#searchBox {
    padding: 0;
}


.card-title > P {
    color: #16aff5;
    font-size: 30px;
    line-height: 35px;
}
.card-title > P > span {
    display: block;
    font-weight: bold;
}

.search-messaging {
    line-height: 35px;
    font-size: 25px;
    background: -webkit-linear-gradient(#187bac, #18bf9f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search-messaging > p > span {
    display: block;
    font-size: 35px;
    font-weight: bold;
}

.search-card {
    height: 100%;
}

.search-skill .input-group-addon {
    background-color: #03a9f4;
    color: #ffffff;
}

.search-skill .input-group-addon:hover {
    cursor: pointer;
}

video {
    width: auto; 
    height: auto; 
    background-size: cover;
    overflow: hidden;
}