.wrapper {
    position: absolute;
    height: 100%;
    background-repeat: repeat;
    background-position: 100% 100%;
    background-attachment: fixed;
}

.login-container {
    box-shadow: 3px 5px 15px #464646;
}

.input-group-addon > i {
    width: 15px;
}

.login-submit-btn {
    width: 100%;
}
