.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-position: 100% 100%;
    background-attachment: fixed;
    background-image: url('../../../assets/Images/login-bg.png')
}

/**MATERIAL*/
.mat-form-field {
    width: 100%;
}

.login-card {
    width: 40%;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: auto;
}

.login-logo {
    width: 50%;
    margin: 0 auto;
}

.login-btn {
    width: 100%;
    text-align: right;
}

mat-spinner {
    display: inline-block;
    padding: auto;
    margin: auto;
}

.mat-card-content {
    z-index: 1;
}

@media only screen and (max-width: 720px) {
    .login-card {
        width: 90%;
    }
}