<div class="wrapper">
  <mat-card class="login-card">
    <div class="login-logo">
      <img [src]="logoIconUrl" alt="Keypoint Logo">
    </div>
    <mat-card-content>
      <mat-error *ngIf="invalidInput">
        {{message}}
      </mat-error>
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="username"  name="username" required>
        <mat-error *ngIf="input.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" [(ngModel)]="password" name="password" [type]="hide ? 'text' : 'password'" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="input.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <div class="login-btn">
          <mat-spinner [diameter]="25" strokeWidth="1" *ngIf="loading"></mat-spinner>
          <button mat-raised-button color="primary"   (click)="login()">LOGIN</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>