<div class="col-lg-12">
  <div class="row col-lg-12 mx-0 p-5" *ngFor="let skillSet of skillSets">
    <div class="col-lg-3">
      <div class="row col-lg-12 p-0">
        <div class="col-lg-4 d-inline">
          <img [src]="skillSet.img" [alt]="skillSet.name" class="img-fluid">
        </div>
        <div class="col-lg-8 p-0">
          <div class="col-lg p-0">
            {{skillSet.name}}
          </div>
          <div class="col-lg p-0 progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="2" aria-valuemin="0" aria-valuemax="8"></div>
          </div>
          <div class="col-lg p-0">
            4/8 Skills
          </div>
        </div>
      </div>
      <div class="col-lg-12 my-3">
        {{skillSet.desc}}
      </div>
    </div>
    <div class="col-lg-9 row">
      <div class="col-lg-3 row text-center p-0 m-0" *ngFor="let skillCategory of skillCategories">
        <div class="col-lg-12 m-auto">
          <div>
            <img [src]="skillCategory.img" [alt]="skillCategory.name" class="img-fluid">
            <div class="centered w-50">{{skillCategory.name}}</div>
          </div>
        </div>
        <div class="col-lg-12 m-auto">
          <rating [(ngModel)]="skillCategory.level" [readonly]="true"></rating>
          <p>{{getSkillLevelName(skillCategory.level)}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 text-center">
      <div class="col-lg-12 empty-skill">
          <img src="assets/Images/explore-path.png" class="my-5" aria-hidden="true">
          <h5 class="my-3">Explore more path?</h5>
          <button class="btn btn-primary px-4 mb-5" [routerLink]="['/explore']">Explore</button>
        </div>
  </div>
</div>