<div class="col-lg-12 row profile-summary text-center p-5 m-0">
  <div class="col-sm-7 mx-auto mt-5">
    <div class="col-lg-2 d-inline-block mx-auto align-middle pr-0">
      <img *ngIf="profileImgUrl;else showAvatar" [src]="profileImgUrl" alt="Profile Pic" class="rounded-circle img img-fluid">
      <ng-template #showAvatar><avatar class="mr-0" [letter]="user.username.charAt(0).toUpperCase()" [displayType]="'circle'"></avatar></ng-template>
    </div>
    <div class="col-sm-6 d-inline-block mx-auto align-middle pl-0">
      <h3 class="name">Hi! I'm {{user.employee.name}}</h3>
      <h4 class="role font-weight-light">a {{user.employee.role.roleName}} from</h4>
      <h4 class="business-group font-weight-light">{{user.employee.businessGroupObject.businessGroup}}</h4>
    </div>
  </div>
  <div class="col-lg-11 p-5 my-4 mx-auto row text-left">
    <div class="col-lg-8">
      <div class="col-lg-12">
        Skill Set Progress
      </div>
      <div class="col-lg-12 row">
        <div class="row col-6 p-0 mx-0" *ngFor="let skillSet of skillSets">
          <div class="col-12">
            <div class="row col-12 p-0">
              <div class="col-5 d-inline my-2">
                <img [src]="skillSet.img" [alt]="skillSet.name" class="img-fluid">
              </div>
              <div class="col-7 p-0  my-auto">
                <div class="col p-0 my-1">
                  {{skillSet.name}}
                </div>
                <div class="col p-0 my-1 progress">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="2" aria-valuemin="0" aria-valuemax="8"></div>
                </div>
                <div class="col p-0 my-1">
                  4/8 Skills
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="col-lg-12">
        Top Skills
      </div>
      <div class="col-xs-12 card-group">
        <div class="skill-div col-xs-4 m-2" *ngFor="let skill of sortedSkills">
          <!-- <img [src]="getImageUrl(skill.name)" class="rounded" height="80px" width="80px" (error)="test($event)"> -->
          <avatar [name]="skill.name" [displayType]="'square'" size="80" data-toggle="tooltip" data-placement="top" [title]="skill.name"></avatar>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12 profile-menu p-5">
  <a (click)="showSkillsDiv()" [ngClass]="{'menu-active': showSkills}">Skills</a> | 
  <a (click)="showSkillSetDiv()" [ngClass]="{'menu-active': showSkillSet}">Skill Set</a>
</div>
<div class="col-lg-12 row skills">
  <app-skill-catalog *ngIf="showSkills"></app-skill-catalog>
  <app-skill-set *ngIf="showSkillSet"></app-skill-set>
</div>